<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
	  <!-- Bootstrap Dependencies -->
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	  
	  <title>ATAS Home</title>
	  <link href="../static/styles/styles.css" rel="stylesheet">
	  <script src="../static/scripts/script.js"></script>
  </head>
 
  <body>	  
	  <nav class="navbar navbar-expand-lg navbar-dark static-top" id="nav">
 		<div class="container">
      		<div class="navbar-brand">
				Accreditation Tracker and Analysis System
			</div>
			
      		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        		<span class="navbar-toggler-icon"></span>
      		</button>
      		<div class="collapse navbar-collapse" id="navbarResponsive">
				<div class="navbar-nav ml-auto">

					<a class="nav-item nav-link" href="/home">Home</a>
					
			   		<!-- Courses Dropdown -->
				   <div class="nav-item dropdown">
					   <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
					   <div class="dropdown-menu">
						   {% if semesters %}
						   		{% for semester in semesters %}
									<a class="dropdown-item" data-toggle="modal" href="#course-list-modal{{semester.term}}{{semester.year}}">{{semester.term}} {{semester.year}}</a>

								{% endfor %}
						   {% else  %}
								<a class="dropdown-item" href="">No Courses Assigned</a>

						   {% endif %}
					   </div>
				   </div>
				   <a class="nav-item nav-link" href="/outcomes">Student Outcomes</a>
				   <div class="nav-item dropdown">
					   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrative Tasks</a>
					   <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							 <a class="dropdown-item" href="/courses/edit">Edit Courses</a>
							 <a class="dropdown-item"  href="/students/edit">Edit Students</a>							
							<a class="dropdown-item" data-toggle="modal" href="#add-swp-modal">Add Work Products</a>
							<a class="dropdown-item" href="/edit_student_outcomes">Edit Student Outcomes</a>
							<a class="dropdown-item" href="/generate_report">Generate Report</a>
					   </div>
				   </div>
					<a class="nav-item nav-link" href="/logout">Log Out</a>
				</div>
      		</div> 
    	</div><!--END NAV CONTAINER-->
      </nav>
	  <div class="main_content">
		  <div class="text-center">
			  <h2 class="text-center">{{courses[0].course_department}} {{courses[0].course_number}} {{courses[0].course_name}}</h2>
			  <button type="button" class="btn btn-secondary mb-1" onclick="editScores();">Edit Scores</button>
			  <button type="button" data-toggle="modal" data-target="#course-add-swp-modal" class="btn btn-secondary mb-1">Add SWP</button>
		  </div>
		<div class="table-responsive text-center">
			<form action="{{url_for('update_scores',course_id = courses[0].course_id)}}" method="post">
				<table class="table table-bordered mx-auto w-auto text-center">
					<thead>
						<tr>
							<th scope="col">Student Name</th>
							<th scope="col">Student ID</th>
							{% if swps %}
								{% for swp in swps %}
									<input hidden type="text" name="swp-id" value="{{swp.swp_id}}">	
									<th><a  data-toggle="modal" href="#edit-swp-modal{{swp.swp_id}}">{{swp.swp_name}}</a></th>
								{% endfor %}
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for student in students %}
						<input hidden type="text" name="student-id" value="{{student.student_id}}">
							<tr>
								<td><a data-toggle="modal" href="#edit-student-modal{{student.student_id}}">{{student.student_first}} {{student.student_last}}</a></td>
								<td name="student-id" value = "{{student.student_id}}">{{student.student_id}}</td>
								{% if student.student_scores %}
									{% for score in student.student_scores %}
										<td>
											<input readonly name="{{student.student_id}}scores" type="number" class="form-control-plaintext text-center score" min="0" max="4" value="{{score.score}}" placeholder="-">
										</td>
									{% endfor%}
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<button hidden class="btn btn-secondary score_btn" type="submit">Save Changes</button>
				<button hidden class="btn btn-secondary score_btn" type="button" onclick="window.location.reload();">Cancel</button>
			</form>
		</div>
	  </div>
	
	<!-- Modals -->

	  <!-- Add SWP Modal(current course) -->
	  <div class="modal fade" id="course-add-swp-modal">
		<div class="modal-dialog">
		  <div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Add Work Product</h4>
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
				<form action="/swp" class="modal-form" method="post">
					
					<div class="form-group" hidden>
						<select id="course_id" name="course_id">
							<option value="{{courses[0].course_id}}"></option>
						</select>
					</div>
					
					<div class="form-group">
						<label for="swp_name">Assignment Name</label>
						<input type="text" class="form-control" id="swp_name" name="swp_name" required="true">
					</div>
				 
					<div class="form-group">
						 <label for="so-checkboxes">Student Outcomes</label>
						 <div class="so-checkboxes">
							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO1" id="SO1" value="SO1">
								 <label class="form-check-label" for="SO1">SO1</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO2" id="SO2" value="SO2">
								 <label class="form-check-label" for="SO2">SO2</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO3" id="SO3" value="SO3">
								 <label class="form-check-label" for="SO3">SO3</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO4" id="SO4" value="SO4">
								 <label class="form-check-label" for="SO4">SO4</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO5" id="SO5" value="SO5">
								 <label class="form-check-label" for="SO5">SO5</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO6" id="SO6" value="SO6">
								 <label class="form-check-label" for="SO6">SO6</label>
							 </div>
						 </div>
					</div>
					<button class="btn btn-secondary" type="submit">Submit</button>
				</form>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
	  </div>
	  </div>
	  
	  <!-- Add SWP Modal -->
	  <div class="modal fade" id="add-swp-modal">
		<div class="modal-dialog">
		  <div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Add Work Product</h4>
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
				<form action="/swp" class="modal-form" method="post">
					
					<div class="form-group">
						<label for="course_id">Select Course</label>
						<select id="course_id" name="course_id">
							{% for semester in semesters %}							
								{% for course in semester.course_list %}
									<option value="{{course.course_id}}">{{semester.term}} {{semester.year}} {{course.department}} {{course.course_number}}:  {{course.section}}</option>
								{% endfor %}
							{% endfor %}
						</select>
					</div>
					
					<div class="form-group">
						<label for="swp_name">Assignment Name</label>
						<input type="text" class="form-control" id="swp_name" name="swp_name" required="true">
					</div>
				 
					<div class="form-group">
						 <label for="so-checkboxes">Student Outcomes</label>
						 <div class="so-checkboxes">
							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO1" id="SO1" value="SO1">
								 <label class="form-check-label" for="SO1">SO1</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO2" id="SO2" value="SO2">
								 <label class="form-check-label" for="SO2">SO2</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO3" id="SO3" value="SO3">
								 <label class="form-check-label" for="SO3">SO3</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO4" id="SO4" value="SO4">
								 <label class="form-check-label" for="SO4">SO4</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO5" id="SO5" value="SO5">
								 <label class="form-check-label" for="SO5">SO5</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO6" id="SO6" value="SO6">
								 <label class="form-check-label" for="SO6">SO6</label>
							 </div>
						 </div>
					</div>
					<button class="btn btn-secondary" type="submit">Submit</button>
				</form>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
	  </div>
	  </div>

<!-- Edit SWP Modal (generated for each swp)-->
{% if swps %}
{% for swp in swps %}
<div class="modal fade" id="edit-swp-modal{{swp.swp_id}}">
  <div class="modal-dialog">
		<div class="modal-content">

		  <!-- Modal Header -->
		  <div class="modal-header">
			<h4 class="modal-title">Edit Work Product</h4>
			 <button type="button" class="close" data-dismiss="modal">×</button>
	   </div>
	 <!-- Modal body -->
	   <div class="modal-body">
			 <form action="/swp/{{swp.swp_id}}" class="modal-form" method="post">
				 
				 <div class="form-group">
					 <label for="swp_name">Assignment Name</label>
					 <input type="text" class="form-control mb-2" id="swp_name" name="swp_name" value="{{swp.swp_name}}" required="true">
				 </div>
				 
				 <div class="form-group">
					 <label for="so-checkboxes">Student Outcomes</label>
					 <div class="so-checkboxes">
						 <div class="form-check form-check-inline">
							 {% if swp.SO1 == 1 %}
							 <input class="form-check-input" type="checkbox" name="SO1" id="SO1" value="SO1" checked>
							 {% else %}
							 <input class="form-check-input" type="checkbox" name="SO1" id="SO1" value="SO1">
							 {% endif %}
							 <label class="form-check-label" for="SO1">SO1</label>
						 </div>

						 <div class="form-check form-check-inline">
							 {% if swp.SO2 == 1 %}
							 <input class="form-check-input" type="checkbox" name="SO2" id="SO2" value="SO2" checked>
							 {% else %}
							 <input class="form-check-input" type="checkbox" name="SO2" id="SO2" value="SO2">
							 {% endif %}
							 <label class="form-check-label" for="SO2">SO2</label>
						 </div>

						 <div class="form-check form-check-inline">
							 {% if swp.SO3 == 1 %}
							 <input class="form-check-input" type="checkbox" name="SO3" id="SO3" value="SO3" checked>
							 {% else %}
							 <input class="form-check-input" type="checkbox" name="SO3" id="SO3" value="SO3">
							 {% endif %}
							 <label class="form-check-label" for="SO3">SO3</label>
						 </div>

						 <div class="form-check form-check-inline">
							 {% if swp.SO4 == 1 %}
							 <input class="form-check-input" type="checkbox" name="SO4" id="SO4" value="SO4" checked>
							 {% else %}
							 <input class="form-check-input" type="checkbox" name="SO4" id="SO4" value="SO4">
							 {% endif %}
							 <label class="form-check-label" for="SO4">SO4</label>
						 </div>

						 <div class="form-check form-check-inline">
							 {% if swp.SO5 == 1 %}
							 <input class="form-check-input" type="checkbox" name="SO5" id="SO5" value="SO5" checked>
							 {% else %}
							 <input class="form-check-input" type="checkbox" name="SO5" id="SO5" value="SO5">
							 {% endif %}
							 <label class="form-check-label" for="SO5">SO5</label>
						 </div>

						 <div class="form-check form-check-inline">
							 {% if swp.SO6 == 1 %}
							 <input class="form-check-input" type="checkbox" name="SO6" id="SO6" value="SO6" checked>
							 {% else %}
							 <input class="form-check-input" type="checkbox" name="SO6" id="SO6" value="SO6">
							 {% endif %}
							 <label class="form-check-label" for="SO6">SO6</label>
						 </div>
					 </div>
				 </div>
				 <button class="btn btn-secondary" type="submit">Submit</button>
				 <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#delete-swp-modal{{swp.swp_id}}">Delete</button>
			 </form>
	   </div>

		  <!-- Modal footer -->
		  <div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  </div>

	  </div>
	 </div>
</div>
  {% endfor %}
{% endif %}
	  
	  <!-- Delete SWP Modal (generated for each swp)-->
{% if swps %}
{% for swp in swps %}
<div class="modal fade" id="delete-swp-modal{{swp.swp_id}}">
  <div class="modal-dialog">
		<div class="modal-content">

		  <!-- Modal Header -->
		  <div class="modal-header">
			<h4 class="modal-title">Delete {{swp.swp_name}}?</h4>
			 <button type="button" class="close" data-dismiss="modal">×</button>
	   </div>
	 <!-- Modal body -->
	   <div class="modal-body">
		   <h5 class="text-center m-2">Are you sure you want to delete this SWP? All information will be lost!</h5>
	   </div>

		  <!-- Modal footer -->
			<div class="modal-footer">
			  <form action="{{url_for('delete_swp', swp_id=swp.swp_id)}}" class="modal-form m-2" method="post">
				  <button class="btn btn-secondary btn-lg btn-block" type="submit">Confirm</button>
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </form>                
			</div>

	  </div>
	 </div>
</div>
  {% endfor %}
{% endif %}
	
	<!-- Edit Student Modal (generated for each student) -->
	{% if students %}
		{% for student in students %}
			<div class="modal fade" id="edit-student-modal{{student.student_id}}">
				<div class="modal-dialog">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">{{student.student_first}} {{student.student_last}}</h4>
							<button type="button" class="close" data-dismiss="modal">×</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<form action="" class="modal-form" method="put">

								<button class="btn btn-secondary" type="submit">Submit</button>
							</form>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					  </div>
					 </div>
			</div>
	  	{% endfor %}
	{% endif %}
	
	<!-- Course List Modal (modal is generated for each term)-->
	<!-- TODO: make links take user to respective course page (may need to add endpoint to handle link) -->
	{% if semesters %}
		{% for semester in semesters %}
			<div class="modal fade" id="course-list-modal{{semester.term}}{{semester.year}}">
			  <div class="modal-dialog">
				  <div class="modal-content">

					  <!-- Modal Header -->
					  <div class="modal-header">
						  <h4 class="modal-title">{{semester.term}} {{semester.year}} Courses</h4>
						  <button type="button" class="close" data-dismiss="modal">×</button>
					  </div>

					  <!-- Modal body -->
					  <div class="modal-body">
						  <ul class="list-group">
							  {% for course in semester.course_list %}
								  <a class="list-group-item list-group-item-action text-center" href="{{ url_for('get_one_course', course_id = course.course_id)}}">{{course.department}} {{course.course_number}}: {{course.section}}</a>
							  {% endfor %}
						  </ul>
					  </div>

					  <!-- Modal footer -->
					  <div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					  </div>
				  </div>
			  </div>
			</div>
		{% endfor %}
  {% endif %}
	<!-- End of Modals -->
  </body>
</html>