<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
	  <!-- Bootstrap Dependencies -->
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	  
	  <title>ATAS Home</title>
	  <link href="../static/styles/styles.css" rel="stylesheet">
  </head>
 
  <body>
	  
	  <nav class="navbar navbar-expand-lg navbar-dark static-top" id="nav">
 		<div class="container">
      		<div class="navbar-brand">
				Accreditation Tracker and Analysis System
			</div>
			
      		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
      		</button>
      		<div class="collapse navbar-collapse" id="navbarResponsive">
				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link" href="/home">Home</a>
					<!--COURSES DROPDOWN-->   
					<div class="nav-item dropdown">
					   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
					   <div class="dropdown-menu">
						   {% if semesters %}
						   		{% for semester in semesters %}
									<a class="dropdown-item" data-toggle="modal" href="#course-list-modal{{semester.term}}{{semester.year}}">{{semester.term}} {{semester.year}}</a>
							{% endfor %}
						   {% else  %}
								<a class="dropdown-item" href="">No Courses Assigned</a>

						   {% endif %}

					   </div>
				   </div>
					<a class="nav-item nav-link" href="/outcomes">Student Outcomes</a>
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrative Tasks</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/courses/edit">Edit Courses</a>							
							 <a class="dropdown-item" href="/students/edit">Edit Students</a>							
							<a class="dropdown-item" data-toggle="modal" href="#add-swp-modal">Add Work Products</a>
							<a class="dropdown-item" href="/report_selected">Generate Report</a>
						</div>
					</div>
					<a class="nav-item nav-link" href="/logout">Log Out</a>
				</div>
      		</div>
    	</div>
	  </nav>
	  <div>
     
        <div class="text-center mb-1">
            <h2>Edit Courses</h2><button class="btn btn-secondary" data-toggle="modal" data-target="#add-course-modal">Add New Course</button>
		</div>
		{% if courses %}
		<div class="table-responsive">
			<table class="table table-bordered mx-auto w-auto text-center">
			  {% for course in courses %}
				<thead>
					<tr>
						<th colspan = "6" scope="col">{{course.term}} {{course.year}}</th>
					</tr>
					<tr>
						<th>Department</th>
						<th>Course Number</th>
						<th>Section</th>
						<th>Course Name</th>
						<th>Instructor</th>
						<th></th>
					</tr>
				</thead>
				{% if course.course_list %}
				<tbody>
					{%for course in course.course_list%}
					<tr>
						<td>{{course.department}}</td>
						<td>{{course.course_number}}</td>
						<td>{{course.section}}</td>
						<td>{{course.course_name}}</td>
						<td>{{course.instructor_last}}, {{course.instructor_first}}</td>
						<td><button class="btn btn-secondary" data-toggle="modal" data-target="#edit-course-modal{{course.course_id}}">Edit</button><button class="btn btn-secondary" data-toggle="modal" data-target="#delete-course-modal{{course.course_id}}">Delete</button></td>
					</tr>
					{% endfor %}
				</tbody>
				{% endif %}
			  {% endfor %}
			</table>
		</div>
        {% endif %}
	  </div>
	  <!-- Modals -->


      	  <!-- Add Course Modal -->
	  <div class="modal fade" id="add-course-modal">
		<div class="modal-dialog">
		  <div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Add Course</h4>
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			
			<!-- Modal body -->
            <div class="modal-lg">
				<form action="{{url_for('add_courses')}}" class="modal-form m-2" method="post">
                        <div class="text-center">    
                             <div class="form-row">
                                <div class="form-group col">
                                    <label for="term">Term</label>
                                    <select class="form-control" id="term" name="term" required="true">
                                         <option value="SPRING">SPRING</option>
                                         <option value="SUMMER">SUMMER</option>
                                         <option value="FALL">FALL</option>                                       
                                    </select>
                                </div>
                
                                <div class="form-group col">
                                    <label for="year">Year</label>
                                    <input type="text" class="form-control" id="year" name="year" placeholder="YYYY" required="true">
                                </div>
                            </div>             
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="deparment">Department</label>
                                    <input type="text" class="form-control" id="department" name="department" placeholder="ex. CPSC" required="true">
                                </div>
                
                                <div class="form-group col">
                                    <label for="course_number">Course Number</label>
                                    <input type="text" class="form-control" id="course_number" name="course_number" placeholder="ex. 1310" required="true">
                                </div>
                
                                <div class="form-group col">
                                    <label for="section">Section</label>
                                    <input type="test" class="form-control" id="section" name="section" placeholder="ex. 1" required="true">
                                </div>
                            </div>
                
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="course_name">Course Name</label>
                                    <input type="text" class="form-control" id="course_name" name="course_name" placeholder="Course Name" required="true">
                                </div>
                
                                <div class="form-group col">
                                    <label for="instructor_id">Instructor</label>
                                    <select class="form-control" id="instructor_id" name="instructor_id" required="true">
                                        {% if instructors %}
                                            <option value="" selected></option>
                                            {% for instructor in instructors %}
                                                <option value="{{instructor.instructor_id}}">{{instructor.last_name}}, {{instructor.first_name}}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>                            
                            <button class="btn btn-secondary btn-lg btn-block" type="submit">Save</button>
                        </div>
                    </form>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">                
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
		  </div>
	  </div>
	  </div>
	  
	  <!-- Edit Course Modal(generated for every course) -->
	  {% if courses %}
	  		{% for term in courses %}
	  			 {% if term.course_list %}
	          				{% for course in term.course_list %}
						  <div class="modal fade" id="edit-course-modal{{course.course_id}}">
							<div class="modal-dialog">
							  <div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title">Edit {{course.department}} {{course.course_number}}: {{course.section}}</h4>
									<button type="button" class="close" data-dismiss="modal">×</button>
								</div>

								<!-- Modal body -->
								<div class="modal-lg">
									<form action="{{url_for('update_courses', course_id=course.course_id)}}" class="modal-form m-2" method="post">
											<div class="text-center">    
												 <div class="form-row">
													<div class="form-group col">
														<label for="term">Term</label>
														<select class="form-control" id="term" name="term" required="true">
                                                            {% if term.term == 'FALL' %}
                                                            <option value="SPRING">SPRING</option>
                                                            <option value="SUMMER">SUMMER</option> 
                                                            <option value="FALL" selected>FALL</option>
                                                            {% elif term.term == 'SUMMER' %}
                                                            <option value="SPRING">SPRING</option>
                                                            <option value="SUMMER" selected>SUMMER</option> 
                                                            <option value="FALL">FALL</option>                                                            
                                                            {% else %}                                                          
                                                            <option value="SPRING" selected>SPRING</option>
                                                            <option value="SUMMER">SUMMER</option>
                                                            <option value="FALL">FALL</option>
														
															{% endif %}
														</select>
													</div>
                           
													<div class="form-group col">
														<label for="year">Year</label>
														<input type="text" class="form-control" id="year" name="year" placeholder="YYYY" value="{{course.year}}" required="true">
													</div>
												</div>             
												<div class="form-row">
													<div class="form-group col">
														<label for="deparment">Department</label>
														<input type="text" class="form-control" id="department" name="department" placeholder="ex. CPSC" value="{{course.department}}" required="true">
													</div>

													<div class="form-group col">
														<label for="course_number">Course Number</label>
														<input type="text" class="form-control" id="course_number" name="course_number" placeholder="ex. 1310" value="{{course.course_number}}" required="true">
													</div>

													<div class="form-group col">
														<label for="section">Section</label>
														<input type="test" class="form-control" id="section" name="section" placeholder="ex. 1" value="{{course.section}}" required="true">
													</div>
												</div>

												<div class="form-row">
													<div class="form-group col">
														<label for="course_name">Course Name</label>
														<input type="text" class="form-control" id="course_name" name="course_name" placeholder="Course Name" value="{{course.course_name}}" required="true">
													</div>

													<div class="form-group col">
														<label for="instructor_id">Instructor</label>
														<select class="form-control" id="instructor_id" name="instructor_id" required="true">
															{% if instructors %}
																{% for instructor in instructors %}
																	{% if instructor.instructor_id == course.instructor_id %} <!-- if current course instructor, apply selected attr to option -->
																	<option value="{{instructor.instructor_id}}" selected>{{instructor.last_name}}, {{instructor.first_name}} </option>
																	{% else %}
																	<option value="{{instructor.instructor_id}}">{{instructor.last_name}}, {{instructor.first_name}}</option>
																	{% endif %}
																{% endfor %}
															{% endif %}
														</select>
													</div>
												</div>                            
												<button class="btn btn-secondary btn-lg btn-block" type="submit">Save</button>
											</div>
										</form>
								</div>
					<!-- Modal footer -->
					<div class="modal-footer">                
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</div>
				  </div>
			  </div>
			  </div>
	  			{% endfor %}
	  		{% endif %}
	  		{% endfor %}
	  {% endif %}
	  
	  <!-- Delete Course Modal(generated for every course) -->
	  {% if courses %}
	  		{% for course in courses %}
	  			{% if course.course_list %}
	  				{% for course in course.course_list %}
						  <div class="modal fade" id="delete-course-modal{{course.course_id}}">
							<div class="modal-dialog">
							  <div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title">Delete {{course.department}} {{course.course_number}}: {{course.section}}?</h4>
									<button type="button" class="close" data-dismiss="modal">×</button>
								</div>

								<!-- Modal body -->
								<div class="modal-lg">
									<h5 class="text-center m-2">Are you sure you want to delete this course? All course information will be lost!</h5>
								</div>
					<!-- Modal footer -->
					<div class="modal-footer">
                        <form action="{{url_for('delete_course', course_id=course.course_id)}}" class="modal-form m-2" method="post">
                            <button class="btn btn-secondary btn-lg btn-block" type="submit">Confirm</button>
                            <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">Cancel</button>
                        </form>                
					</div>
				  </div>
			  </div>
			  </div>
	  			{% endfor %}
	  		{% endif %}
	  		{% endfor %}
	  {% endif %}
	  
	  <!-- Add SWP Modal -->
	  <div class="modal fade" id="add-swp-modal">
		<div class="modal-dialog">
		  <div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Add Work Product</h4>
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
				<form action="/swp" class="modal-form" method="post">
					
					<div class="form-group">
						<label for="course_id">Select Course</label>
						<select id="course_id" name="course_id">
							{% for semester in semesters %}							
								{% for course in semester.course_list %}
									<option value="{{course.course_id}}">{{semester.term}} {{semester.year}} {{course.department}} {{course.course_number}}:  {{course.section}}</option>
								{% endfor %}
							{% endfor %}
						</select>
					</div>
					
					<div class="form-group">
						<label for="swp_name">Assignment Name</label>
						<input type="text" class="form-control" id="swp_name" name="swp_name" required="true">
					</div>
				 
					<div class="form-group">
						 <label for="so-checkboxes">Student Outcomes</label>
						 <div class="so-checkboxes">
							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO1" id="SO1" value="SO1">
								 <label class="form-check-label" for="SO1">SO1</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO2" id="SO2" value="SO2">
								 <label class="form-check-label" for="SO2">SO2</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO3" id="SO3" value="SO3">
								 <label class="form-check-label" for="SO3">SO3</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO4" id="SO4" value="SO4">
								 <label class="form-check-label" for="SO4">SO4</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO5" id="SO5" value="SO5">
								 <label class="form-check-label" for="SO5">SO5</label>
							 </div>

							 <div class="form-check form-check-inline">
								 <input class="form-check-input" type="checkbox" name="SO6" id="SO6" value="SO6">
								 <label class="form-check-label" for="SO6">SO6</label>
							 </div>
						 </div>
					</div>
					<button class="btn btn-secondary" type="submit">Submit</button>
				</form>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
	  </div>
	  </div>
	  
	  <!-- Edit SWP Modal -->
	  <div class="modal fade" id="edit-swp-modal">
    		<div class="modal-dialog">
      			<div class="modal-content">
      
        			<!-- Modal Header -->
        			<div class="modal-header">
        	 			<h4 class="modal-title">Add Work Product</h4>
        	  			<button type="button" class="close" data-dismiss="modal">×</button>
        			</div>
        
      		  		<!-- Modal body -->
      		  		<div class="modal-body">
      		  			<form action="/swp" class="modal-form" method="put">
							  CREATE FORM HERE							 
							  <button type="submit">Submit</button>
        				</form>
        			</div>
        
        			<!-- Modal footer -->
        			<div class="modal-footer">
          				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        			</div>
        
    			</div>
   			</div>
  		</div>
	  
	  <!-- Edit Student Modal -->
	  <div class="modal fade" id="edit-student-modal">
		  <div class="modal-dialog">
			  <div class="modal-content">
				  
				  <!-- Modal Header -->
				  <div class="modal-header">
					  <h4 class="modal-title">Edit Student</h4>
					  <button type="button" class="close" data-dismiss="modal">×</button>
				  </div>
        
				  <!-- Modal body -->
				  <div class="modal-body">
					  <form action="" class="modal-form" method="put">
						  
						  <button class="btn btn-secondary" type="submit">Submit</button>
					  </form>
				  </div>
        
				  <!-- Modal footer -->
				  <div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				  </div>
    			</div>
   			</div>
	  </div>
	  
	  <!-- Course List Modal (modal is generated for each term)-->
	  <!-- TODO: make links take user to respective course page (may need to add endpoint to handle link) -->
	  {% if semesters %}
	  		{% for semester in semesters %}
	  			<div class="modal fade" id="course-list-modal{{semester.term}}{{semester.year}}">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">{{semester.term}} {{semester.year}} Courses</h4>
								<button type="button" class="close" data-dismiss="modal">×</button>
							</div>

							<!-- Modal body -->
							<div class="modal-body">
								<ul class="list-group">
									{% for course in semester.course_list %}
										<a class="list-group-item list-group-item-action text-center" href="{{ url_for('get_one_course', course_id = course.course_id)}}">{{course.department}} {{course.course_number}}: {{course.section}}</a>
									{% endfor %}
								</ul>
							</div>

							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
	  			</div>
	  		{% endfor %}	
	  {% endif %}
	  <!-- End of Modals -->
  </body>
</html>