<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>ATAS Home</title>
    <link href="../static/styles/styles.css" rel="stylesheet">
  </head>
 
  <body>
    <div class="container">
        <section class="content">
            <div class="header">
                <img id="header-logo" src="../static/images/ualr_logo_white.png" alt="UALR Logo">
                <h1 id="header-title">Accreditation Tracker and Analysis System</h1>
				<div id="log-in-status">
                	<p id="logged-in">Logged in as:</p>
					<p id="user-type">Root User</p>
					<br><a id="log-out" href="">Log Out</a>
				</div>
            </div>
            
            <div class="nav">
				<div class="nav-bar">
					<a class="active" href="home.html">Home</a>
					<a href="courses.html">Courses</a>
					<a href="so.html">Student Outcomes (SO)</a>
					<div class="dropdown">
						<button class="dropbtn">Administrative Tasks</button>
						<div class="dropdown-content">
							<a href="">Registration Requests</a>
							<a href="">Manage Users</a>
							<a href="">Edit Courses</a>
							<a href="">Edit Student Outcomes</a>
							<a href="">Generate Report</a>
						</div>
					</div>
				</div>
            </div>
            
            <div class="content-section">
                <h1 id="welcome-title">Welcome to ATAS</h1>
                <p id="welcome-desc">A system to aid university department in meeting accreditation criteria.</p>
            </div>
        </section>
    </div>
  </body>
</html>