<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ATAS Login</title>
    <link href="../static/styles/styles.css" rel="stylesheet">
  </head>
 
  <body>
 
    <div class="container">
        <section class="content">
            <div class="header">
                <img id="header-logo" src="../static/images/ualr_logo_white.png" alt="UALR Logo">
                <h1 id="header-title">Accreditation Tracker and Analysis System</h1>
            </div>
            
            <div class="content-section">
                <form class="form-section">
                    <h1>ATAS Registration</h1>
                    <!--Registration Form-->
                    <label for="username">Username</label><br>
                    <input type="text" id="username" name="username"><br><br>
                    
                    <label for="email">Email</label><br>
                    <input type="text" id="email" name="email"><br><br>

                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password"><br><br>

                    <label for="employee_id">Employee ID</label><br>
                    <input type="text" id="employee_id" name="employee_id"><br><br>

                    <label for="access_level">Desired Access Level</label><br>
                    <select name="access_level" id="access_level">
                        <option value="instructor">Instructor</option>
                        <option value="admin">Admin</option>
                    </select><br><br>

                    <label for="question_1">Security Question 1</label><br>
                    <select name="question_1" id="question_1">
                        <option value="option_1">What is your mother's maiden name?</option>
                        <option value="option_2">What is the name of your hometown?</option>
                    </select><br><br>

                    <label for="answer_1">Answer</label><br>
                    <input type="text" id="answer_1" name="answer_1"><br><br>

                    <label for="question_2">Security Question 2</label><br>
                    <select name="question_2" id="question_2">
                        <option value="option_1">What is your mother's maiden name?</option>
                        <option value="option_2">What is the name of your hometown?</option>
                    </select><br><br>

                    <label for="answer_2">Answer</label><br>
                    <input type="text" id="answer_2" name="answer_2"><br><br>

                    <label for="question_3">Security Question 3</label><br>
                    <select name="question_3" id="question_3">
                        <option value="option_1">What is your mother's maiden name?</option>
                        <option value="option_2">What is the name of your hometown?</option>
                    </select><br><br>

                    <label for="answer_3">Answer</label><br>
                    <input type="text" id="answer_3" name="answer_3"><br><br>

                    <input type="submit" value="Submit"><br><br>
                </form>
            </div>
        </section>
    </div>
  </body>
</html>